* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-size: 20px;
    color: rgb(0, 104, 99);
}

p {
    color: black;
}

header {
    position: fixed;
    left: 0; right: 0; top: 0;
    background-color: #ffffff;
    display: flex;
    padding: 10px 2%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

header img {
    width: 200px;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    float: left;
    position: relative;
}

header .navbar ul li a {
    padding: 15px 25px;
    display: block;
    color: #333;
    border-radius: 10px;
}

header .navbar ul li a:hover {
    background-color: rgb(0, 104, 99);
    color: white;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 150px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    color: #333;
    cursor: pointer;
    display: none;
}

div a.lm {
    display: block;
    width: 150px;
    color: white;
    background: rgb(0, 104, 99); 
    padding: 10px;
    border-radius: 4px;
    margin-top: 30px;
}

div a.lm:hover {
    opacity: 0.7;
}

.para {
    float: left;
    width: 50%;
}

.para p {
    margin-top: 15px;
    line-height: 25px;
}

#meet {
    margin-left: 50px;
    height: 200px;
    width: 400px;
    border-style: inset;
    border-radius: 4px;
}

.container {
    padding: 0px 60px;
    margin-top: 150px;
    width: 100%;
}

.container1 {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    padding-left: 60px;
    width: 100%;
}

.para1 {
    float: left;
    width: 20%;
    padding: 15px;
}

.para1 h1 {
    color: rgb(0, 104, 99);
    margin-bottom: 10px;
}

hr {
    margin-top: 20px;
}

p.fig {
    border-left: 6px solid rgb(0, 104, 99);
    padding-left: 15px;
    text-align: left;
}

.container2 {
    display: inline-block;
    padding: 50px;
}

.para2 {
    float: left;
    width: 31%;
}

.para2 h2, .para2 h4 {
    margin-bottom: 15px;
}

.para2 .para2a {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 20px;
    margin: 10px;
    height: 250px;
    border: 0.2px solid rgb(196, 193, 193, 0.6);
    border-radius: 5px;
}

.para2a i {
    color: red;
    padding-bottom: 20px;
}

#par1 {
    margin-right: 50px;
}

.container3 {
    margin: 50px 0;
    align-content: center;
    height: 300px;
}

iframe {
    height: 300px;
    padding: 0 20px;
}

.para3 {
    text-align: center;
    font-size: 15px;
}

.container4 {
    width: 100%;
    height: 650px;
    padding: 20px 50px;
    margin: 50px 0;
}

a.chev > i {
    font-size: 13px;
}

.para4 a {
    font-size: 16px;
}

.para4 {
    float: left;
    width: 50%;
}

.para4 p {
    margin-top: 5px;
}

.para4 p:first-of-type {
    font-size: 15px;
}

.para4b p:nth-of-type(3) {
    font-size: 15px;
}

.para4 h3 {
    margin: 10px 0;
}

.para4a {
    padding-right: 80px;
}

.para4b {
    border-left: 0.3px solid rgb(196, 193, 193);
    padding-left: 40px;
    padding-right: 60px;
}

.container5{
    width: 100%;
    height: 200px;
    background-color: rgb(0, 104, 99);
    text-align: center;
    margin: 10px 0px;
    padding: 20px;
}

.para5{
    line-height: 2;
}

.para5a{
    display: flex;
    width: 330px;
    background-color: white;
    border: 4px solid rgb(118, 232, 226);
    border-radius: 5px;
    margin: 0 37%;
    padding: 5px;
}
button{
    background-color: rgb(0, 104, 99);
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    padding: 10px;
    float: right;
    cursor: pointer;
}

input {
    border: none;
    padding-left: 7px;
    width: 220px;
    font-size: 15px;
}

.container6{
    display: inline-block;
    font-size: 15px;
    width: 100%;
}

.para6{
    float: left;
    margin: auto;
    width: 20%;
}

.para6 img {
    width: 60%;
}

.para6 i {
    color: red;
    margin-right: 10px;
}

.para6 h3 {
    margin: 10px 0;
}

li {
    list-style-type: none;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 5px;
    margin: auto;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(0, 104, 99);
    color: white;
    border-radius: 5px;
}

footer{
    font-size: 13px;
    text-align: center;
}



@media only screen and (max-width: 425px) {
    body {
        font-size: 15px;
    }

    header {
        padding: 10px 4%;
    }

    header img {
        width: 110px;
    }
    
    header label {
        font-size: 30px;
        display: initial;
    }

    header .navbar {
        position: absolute;
        background-color: #ffffff;
        top: 100%; left: 0; right: 0;
        display: none;
    }

    header .navbar ul li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background-color: rgb(207, 247, 207);
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }

    div a.lm {
        width: 110px; 
        padding: 6px;
        margin-top: 10px;
    }
    
    .para {
        float: none;
        width: 100%;
    }
    
    .para p {
        margin-top: 10px;
        line-height: 20px;
    }
    
    #meet {
        margin: 20px 0;
        height: 200px;
        width: 350px;
        border-style: outset;
        border-radius: 4px;
    }
    
    .container {
        padding: 30px;
        margin-top: 54px;
        width: 100%;
    }

    .container1 {
        margin: 0px;
        padding: 20px;
    }

    .para1a {
        width: 100%;
    }
    
    .para1b {
        float: left;
        width: 50%;
        padding: 15px;
    }
    
    .para1 h1 {
        color: rgb(0, 104, 99);
        margin-bottom: 10px;
    }
    
    hr {
        margin-top: 10px;
    }
    
    p.fig {
        padding-left: 10px;
        margin: 0 35%;
    }

    .container2 {
        padding: 30px;
    }
    
    .para2 {
        width: 50%;
    }

    .para2:first-of-type {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .para2 h2, .para2 h4 {
        margin-bottom: 5px;
    }
    
    .para2 .para2a {
        box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
        padding: 15px;
        height: 270px;
    }
    
    .para2a i {
        padding-bottom: 10px;
    }
    
    iframe {
        padding: 0;
    }

    .container4 {
        height: 950px;
        padding: 20px 50px;
        margin: 10px 0;
    }
    
    a.chev > i {
        font-size: 10px;
    }
    
    .para4 a {
        font-size: 14px;
    }
    
    .para4 {
        float: none;
        width: 100%;
        margin-bottom: 50px;
    }
    
    .para4 p {
        margin-top: 5px;
    }
    
    .para4 p:first-of-type {
        font-size: 13px;
    }
    
    .para4b p:nth-of-type(3) {
        font-size: 13px;
    }
    
    .para4 h3 {
        margin: 7px 0 0 0;
    }

    .para4 hr {
        display: none;
    }
    
    .para4a {
        padding-right: 0;
    }
    
    .para4b {
        border-left: none;
        padding-left: 0px;
        padding-right: 0px;
    }

    .container5{
        height: 170px;
        margin-top: 10px;
    }
    
    .para5{
        line-height: 1.5;
    }
    
    .para5a{
        display: flex;
        width: 240px;
        margin: 0 20%;
        padding: 5px;
    }
    button{
        border-radius: 5px;
        margin-left: 2px;
        padding: 5px;
    }
    
    input {
        padding-left: 2px;
        width: 150px;
        font-size: 13px;
    }

    .container6{
        font-size: 13px;
    }
    
    .para6{
        float: left;
        margin: 0;
        width: 50%;
        text-align: center;
    }

    .para6a {
        margin-bottom: 20px;
    }
    
    .para6 img {
        display: none;
    }
    
    footer{
        font-size: 11px;
    }
}